@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg-color: #192a56;
  --second-color: #e48e00;
  --bs-dark: #212529;
  --font-color: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}


.navbar-brand img {
  height: 3rem;
  width: auto;
}

ul li {
  font-size: large;
  font-weight: 500;
  color: var(--bs-dark);
  margin-right: 2.5rem;
}

.nav-link.active {
  border-bottom: 4px solid var(--bg-color);
  width: 100%;
  align-items: center;
  transition: all 0.5s;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.08px;
}

.home-img {
  width: 100%;
}

.btn {
  border-radius: 100px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: 0.5rem;
}

.btn-primary {
  display: inline-block;
  padding: 10px 32px;
  color: var(--font-color);
  background-color: var(--bg-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  color: var(--bg-color);
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: -1;
}

.btn-primary:hover::before {
  transform: translateX(0);
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  color: var(--bg-color);
  background-color: var(--second-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  background-color: var(--bg-color);
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: -1;
}

.btn-secondary:hover::before {
  transform: translateX(0);
}
